@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  /* Shared style */
  .display-flex{
    display: flex;
  }

  /* Header/ Navbar style */
  .navbar{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  .title{
    font-size: 1.5rem;
    font-weight: 700;
  }

  .nav-item{
    list-style: none;
    margin-right: 25px;
  }

  .nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #3A3A3A;
  }
